<nav>
  <ul>
    <li><a href="/" class="<%= path === '/' ? 'active' : '' %>">Home</a></li>
    <% if (typeof user !=='undefined' && user) { %>
      <li><a href="/rooms" class="<%= path.startsWith('/rooms') ? 'active' : '' %>">Rooms</a></li>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
        <li><a href="/register" class="<%= path === '/register' ? 'active' : '' %>">Register</a></li>
        <li><a href="/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a></li>
        <% } %>
  </ul>
</nav>