<!DOCTYPE html>
<html>
<head>
  <title>Room Improvement</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <header>
    <% include('../partials/nav') %>
  </header>
  <main>
    <%- body %>
  </main>
  <footer style="text-align:center; margin-top:3rem;">
    <p>&copy; 2025 Room Improvement</p>
  </footer>
</body>
</html>
