<!DOCTYPE html>
<html>
<head>
  <title>Login | Room for Improvement</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <%- include('partials/nav') %>

  <main>
    <div id="error-message" class="error-hidden" style="color: red; margin-bottom: 10px;"></div>
    <script>
    // Show error message if login fails
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('error')) {
        document.getElementById('error-message').textContent = "Email or password is incorrect";
        document.getElementById('error-message').classList.remove('error-hidden');
    }
    </script>
    <h1>Login</h1>
    <form method="POST" action="/login">
      <div>
        <label>Email (@uchicago.edu):</label>
        <input type="email" name="email" required />
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
  </main>

  <footer style="text-align:center; margin-top:3rem;">
    <p>&copy; 2025 Room for Improvement</p>
  </footer>
</body>
</html>
