SESSION_SECRET=anysecretyouwant

# Email credentials (needed for new account registration only)
# A pre-made test account is provided below so you can skip this entirely.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=uchicagoroomforimprovement@gmail.com
EMAIL_PASS=qblkvrjhtwipqlor

APP_URL=http://localhost:3000
